In [62]:
import pandas as pd
import numpy as np

pcclient = pd.read_csv('pcclient.txt', sep='|')

pcclient.columns
pcclient.rename(columns = {'CLIENTE                                                    ':'CLIENTE'}, inplace = True)
pcclient = pcclient[["CODCLI", "CLIENTE"]]
pcclient = pcclient.drop([0], axis=0)
pcclient = pcclient.reset_index(drop=True)
#pcclient["CODCLI"] = pd.to_numeric(pcclient["CODCLI"])
#pcclient = pcclient.sort_values(by=['CODCLI'], ascending=True)

pcclient.to_csv('pcclient.csv', index=False)

In [33]:
pcprodut = pd.read_csv('pcprodut.txt', sep='|')
pcprodut.columns    
pcprodut.rename(columns = {'DESCRICAO                               ':'DESCRICAO'}, inplace = True)
pcprodut = pcprodut[["CODPROD", "DESCRICAO"]]
pcprodut = pcprodut.drop([0], axis=0)
pcprodut = pcprodut.reset_index(drop=True)
pcprodut

      CODPROD                                 DESCRICAO
0     2        PRODUTO DE TESTE - PARAMETRIZACAO.
1     5        QUEIJO MUSSARELA BETHE
2     6        ABRIDOR DE SACHET 20G
3     7        ACUCAR REF GRAN ITAGUARY 30X1KG
4     9        AJI NO MOTO REFIL REALCE SABOR 100G
...       ...                                       ...
1869  126,025  JACA - PICOLE
1870  126,026  KIWI - PICOLE
1871  126,027  LEITE CONDENSADO - PICOLE
1872  126,028  LICHIA - PICOLE
1873  126,029  LIMAO FRUTA - PICOLE

[1874 rows x 2 columns]

In [30]:
pcpedi  = pd.read_csv('pcpedi.txt', sep='|')
pcpedi.columns
pcpedi.rename(columns = {'DATA                   ':'DATA', 'NUMPED       ':'NUMPED', 'QT   ': 'QT'}, inplace = True)
pcpedi = pcpedi[["DATA", "NUMPED", "QT", "CODPROD", "CODCLI"]]
pcpedi = pcpedi.drop([0], axis=0)
pcpedi = pcpedi.reset_index(drop=True)
pcpedi

C:\Users\Saulo\AppData\Local\Temp\ipykernel_9748\2063345733.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  pcpedi  = pd.read_csv('pcpedi.txt', sep='|')

                            DATA         NUMPED        QT  CODPROD  CODCLI
0        2022-06-08 00:00:00.000  40,034,010        3      191      2,621
1        2022-06-08 00:00:00.000  40,034,010        1      465      2,621
2        2022-06-08 00:00:00.000  40,034,010        16     756      2,621
3        2022-06-08 00:00:00.000  40,034,010        24     73       2,621
4        2022-06-08 00:00:00.000  2,005,095,658     1      73       1
...                          ...            ...       ...      ...     ...
1057204  2012-05-02 00:00:00.000  8,000,013      5             211  984
1057205  2012-05-01 00:00:00.000  9,000,001      0              12  1,089
1057206  2012-05-01 00:00:00.000  9,000,001      0             110  1,089
1057207  2012-05-01 00:00:00.000  9,000,001      0             101  1,089
1057208  2012-05-01 00:00:00.000  9,000,001      0              17  1,089

[1057209 rows x 5 columns]

In [50]:
main = pcpedi.drop(['DATA', 'NUMPED'], axis=1)
main

               QT  CODPROD  CODCLI
0           3      191      2,621
1           1      465      2,621
2           16     756      2,621
3           24     73       2,621
4           1      73       1
...           ...      ...     ...
1057204  5             211  984
1057205  0              12  1,089
1057206  0             110  1,089
1057207  0             101  1,089
1057208  0              17  1,089

[1057209 rows x 3 columns]

In [48]:
recomend_df = main.pivot_table(index=['CODPROD'], columns=['CODCLI'], values=['QT'], aggfunc=np.sum)
recomend_df = recomend_df.fillna(0)
recomend_df

                                                        QT                \
CODCLI                                              1      1,009  1,010
CODPROD
5                                                        0      0      0
6                                                        0      0      0
7                                                        0      0      0
9                                                        0      0      0
10                                                       0      0      0
...                                                    ...    ...    ...
971                                                      0      0      0
972                                               2             0      0
98                                            1     1           0      0
997                                                      0      0      0
999      1       2       1       1       1       1     ...      0      0

                                                                              \
CODCLI             1,011                                              1,015
CODPROD
5                       0                                           49.3
6                       0                                                  0
7        3       2         30      30      30      30      30      30    ...
9                       0                                                  0
10                      0                                                  0
...                   ...                                                ...
971                     0                                                  0
972                     0                                                  0
98                      0                                                  0
997                     0                                                  0
999                     0                                                  0

                                         \
CODCLI  1,016  1,017             1,029
CODPROD
5            0      0  24.8    75.2
6            0      0                 0
7            0      0                 0
9            0      0                 0
10           0      0                 0
...        ...    ...               ...
971          0      0                 0
972          0      0                 0
98           0      0                 0
997          0      0                 0
999          0      0                 0

                                                                      ...  \
CODCLI                                              1,034     1,045   ...
CODPROD                                                               ...
5        21      24      48      24      48.2    71.1  ...         0  ...
6                                                        0         0  ...
7                                                        0  20        ...
9                                                        0         0  ...
10                                                       0         0  ...
...                                                    ...       ...  ...
971                                                      0         0  ...
972                                                      0         0  ...
98                                                       0         0  ...
997                                                      0         0  ...
999                                                      0         0  ...

                                                                   \
CODCLI                                              968    97
CODPROD
5        20.9    43      47.9    47.7    23.8    46.5  ...      0
6                                                        0      0
7                                                        0      0
9                                                        0      0
10                                                       0      0
...                                                    ...    ...
971                                                      0      0
972                                                      0      0
98                                                       0      0
997                                                      0      0
999                                                      0      0

                                                                           \
CODCLI                                     971       976    982    983
CODPROD
5        11.94   11.94   20.3    12      8.225            0      0      0
6                                               0         0      0      0
7                                               0  10            0      0
9                                               0         0      0      0
10                                              0         0      0      0
...                                           ...       ...    ...    ...
971                                             0         0      0      0
972                                             0         0      0      0
98                                              0         0      0      0
997                                             0         0      0      0
999                                             0         0      0      0

                                                                          \
CODCLI                                              984    985    989
CODPROD
5                                 4.095   16.89   8.08          0      0
6                                                        0      0      0
7        30      30      30      10      30      30    ...      0      0
9                                                        0      0      0
10                                                       0      0      0
...                                                    ...    ...    ...
971                                                      0      0      0
972                                                      0      0      0
98                                                       0      0      0
997                                                      0      0      0
999                                                      0      0      0


CODCLI                     998
CODPROD
5        71.9    75.9    164.5
6                               0
7                               0
9                               0
10                              0
...                           ...
971                             0
972                             0
98                              0
997                             0
999                             0

[1888 rows x 3120 columns]

In [51]:
main.to_csv('main_df.csv')