In [1]:
import pandas as pd
import numpy as np

pcclient = pd.read_csv('pcclient.csv', sep=';')
pcprodut = pd.read_csv('pcprodut.csv', sep=';')
pcpedi  = pd.read_csv('pcpedi.csv', sep=';')

In [2]:

list = []
count = 0
for i in pcclient["CODCLI"]:    
    list.append(count)
    count += 1

tst = pd.DataFrame(list)
tst.columns = ["NEWCODCLI"]

pcclient = pd.concat([pcclient, tst], axis=1)
pcclient

      CODCLI                                CLIENTE  NEWCODCLI
0          1                       CONSUMIDOR FINAL          0
1          2                       CONSUMIDOR FINAL          1
2          3           AGUIA DIST DE ALIMENTOS LTDA          2
3          5  AGUIA DISTRIBUIDORA DE ALIMENTOS LTDA          3
4          7  AGUIA DISTRIBUIDORA DE ALIMENTOS LTDA          4
...      ...                                    ...        ...
3926    4260           SRL REFEIÇÕES COLETIVAS LTDA       3926
3927    4261                        JOAO PEDRO REGO       3927
3928    4262           GEISE MICHELLINY COSTA LUCAS       3928
3929    4263   CAROLINE MARINHO DE OLIVEIRA ANDRADE       3929
3930    4264                    DUNAS NEGOVIOS LTDA       3930

[3931 rows x 3 columns]

In [3]:
main = pd.merge(pcpedi, pcprodut, on='CODPROD')
main

         CODCLI  CODPROD    QT                               DESCRICAO
0          3988       73   1.0  REQUEI REKEMINAS CHEDDAR 12X1,2KG BISN
1             1       73   1.0  REQUEI REKEMINAS CHEDDAR 12X1,2KG BISN
2          2621       73  24.0  REQUEI REKEMINAS CHEDDAR 12X1,2KG BISN
3          3100       73   3.0  REQUEI REKEMINAS CHEDDAR 12X1,2KG BISN
4          2231       73  60.0  REQUEI REKEMINAS CHEDDAR 12X1,2KG BISN
...         ...      ...   ...                                     ...
1057362    1168       61  24.0                MILHO VERDE JUSSARA 200G
1057363     674       61  24.0                MILHO VERDE JUSSARA 200G
1057364    1048       61   0.0                MILHO VERDE JUSSARA 200G
1057365    1171       61  24.0                MILHO VERDE JUSSARA 200G
1057366      40       61  24.0                MILHO VERDE JUSSARA 200G

[1057367 rows x 4 columns]

In [149]:
from scipy.sparse import csr_matrix
recomend_df = main.pivot_table(index=['NEWCODPROD'], columns=['CODCLI'], values=['QT'], aggfunc=np.sum)
recomend_df = recomend_df.fillna(0)
#recomend_df = csr_matrix( recomend_df )
recomend_df

                QT                                                           \
CODCLI        1    5       7    8     9     10    11     12     13     14
NEWCODPROD
1              0.0  0.0   733.1  0.0   0.0   0.0  48.8  48.25  231.8  54.34
2              0.0  0.0    20.0  0.0   0.0  20.0   0.0   0.00    0.0   0.00
3           1105.0  0.0  8335.0  0.0  60.0   0.0   0.0  50.00   30.0   0.00
4              0.0  0.0    90.0  0.0   0.0   0.0   0.0   0.00    0.0   0.00
5              3.0  0.0    52.0  0.0   0.0   0.0   0.0   0.00    0.0   0.00
...            ...  ...     ...  ...   ...   ...   ...    ...    ...    ...
1869           0.0  0.0     0.0  0.0   0.0   0.0   0.0   0.00    0.0   0.00
1870           0.0  0.0     0.0  0.0   0.0   0.0   0.0   0.00    0.0   0.00
1871           0.0  0.0     0.0  0.0   0.0   0.0   0.0   0.00    0.0   0.00
1872           0.0  0.0     0.0  0.0   0.0   0.0   0.0   0.00    0.0   0.00
1873           0.0  0.0     0.0  0.0   0.0   0.0   0.0   0.00    0.0   0.00

            ...
CODCLI      ... 4252 4253 4254 4256 4257 4259 4260 4261 4262 4264
NEWCODPROD  ...
1           ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2           ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3           ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4           ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5           ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...         ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
1869        ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1870        ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1871        ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1872        ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1873        ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[1562 rows x 3120 columns]

In [150]:
from sklearn.neighbors import NearestNeighbors


knn_model = NearestNeighbors(metric='cosine')
knn_model.fit(recomend_df)

NearestNeighbors(metric='cosine')

In [151]:
recomend_df
#print(recomend_df[recomend_df["QT"]==1].index.values)
#print(recomend_df.index[recomend_df['CODCLI'] == 3100].tolist())

                QT                                                           \
CODCLI        1    5       7    8     9     10    11     12     13     14
NEWCODPROD
1              0.0  0.0   733.1  0.0   0.0   0.0  48.8  48.25  231.8  54.34
2              0.0  0.0    20.0  0.0   0.0  20.0   0.0   0.00    0.0   0.00
3           1105.0  0.0  8335.0  0.0  60.0   0.0   0.0  50.00   30.0   0.00
4              0.0  0.0    90.0  0.0   0.0   0.0   0.0   0.00    0.0   0.00
5              3.0  0.0    52.0  0.0   0.0   0.0   0.0   0.00    0.0   0.00
...            ...  ...     ...  ...   ...   ...   ...    ...    ...    ...
1869           0.0  0.0     0.0  0.0   0.0   0.0   0.0   0.00    0.0   0.00
1870           0.0  0.0     0.0  0.0   0.0   0.0   0.0   0.00    0.0   0.00
1871           0.0  0.0     0.0  0.0   0.0   0.0   0.0   0.00    0.0   0.00
1872           0.0  0.0     0.0  0.0   0.0   0.0   0.0   0.00    0.0   0.00
1873           0.0  0.0     0.0  0.0   0.0   0.0   0.0   0.00    0.0   0.00

            ...
CODCLI      ... 4252 4253 4254 4256 4257 4259 4260 4261 4262 4264
NEWCODPROD  ...
1           ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2           ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3           ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4           ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5           ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...         ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
1869        ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1870        ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1871        ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1872        ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1873        ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[1562 rows x 3120 columns]

In [137]:
recomend_df.index

Int64Index([     5,      6,      7,      9,     10,     11,     12,     13,
                14,     15,
            ...
            126132, 126133, 126134, 126135, 126136, 126137, 126138, 126139,
            126140, 126141],
           dtype='int64', name='CODPROD', length=1562)

In [166]:
idx_tst = 3
distance, neighbors_index = knn_model.kneighbors(recomend_df.loc[idx_tst].values.reshape(1, -1), n_neighbors=6)

In [169]:
idx_tst

3

In [161]:
neighbors_index

array([[  3, 175, 456, 560, 788, 457]], dtype=int64)

In [167]:


for i in range(0, len(distance.flatten())):
    if i == 0:
        print(f'Recommendations for user: {str(recomend_df.index[idx_tst]-1)}')
    else:
        print(f'Neighbor: {str(recomend_df.index[neighbors_index.flatten()[i]])} with distance: {str(distance.flatten()[i])}')

Recommendations for user: 3
Neighbor: 378 with distance: 0.4873775264405127
Neighbor: 710 with distance: 0.48756502069654717
Neighbor: 614 with distance: 0.5127347086111875
Neighbor: 191 with distance: 0.5357109930434096
Neighbor: 202 with distance: 0.544089994001492