In [1]:
import pandas as pd
import numpy as np

pcclient = pd.read_csv('pcclient.csv', sep=';')
pcprodut = pd.read_csv('pcprodut.csv', sep=';')
pcpedi  = pd.read_csv('pcpedi.csv', sep=';')

In [2]:
list = []
count = 0
for i in pcclient["CODCLI"]:    
    list.append(count)
    count += 1

tst = pd.DataFrame(list)
tst.columns = ["NEWCODCLI"]

pcclient = pd.concat([pcclient, tst], axis=1)
pcclient

      CODCLI                                CLIENTE  NEWCODCLI
0          1                       CONSUMIDOR FINAL          0
1          2                       CONSUMIDOR FINAL          1
2          3           AGUIA DIST DE ALIMENTOS LTDA          2
3          5  AGUIA DISTRIBUIDORA DE ALIMENTOS LTDA          3
4          7  AGUIA DISTRIBUIDORA DE ALIMENTOS LTDA          4
...      ...                                    ...        ...
3926    4260           SRL REFEIÇÕES COLETIVAS LTDA       3926
3927    4261                        JOAO PEDRO REGO       3927
3928    4262           GEISE MICHELLINY COSTA LUCAS       3928
3929    4263   CAROLINE MARINHO DE OLIVEIRA ANDRADE       3929
3930    4264                    DUNAS NEGOVIOS LTDA       3930

[3931 rows x 3 columns]

In [41]:
main = pd.merge(pcpedi, pcprodut, on='CODPROD')
"""merged_df2 = pd.merge(merged_df, pcclient, on='CODCLI')
full_df = merged_df2.drop(['CLIENTE', 'CODCLI', 'DESCRICAO'], axis=1)
main = full_df.sort_values(by=['NEWCODCLI'], ascending=True)"""
main

         CODCLI  CODPROD    QT                               DESCRICAO
0          3988       73   1.0  REQUEI REKEMINAS CHEDDAR 12X1,2KG BISN
1             1       73   1.0  REQUEI REKEMINAS CHEDDAR 12X1,2KG BISN
2          2621       73  24.0  REQUEI REKEMINAS CHEDDAR 12X1,2KG BISN
3          3100       73   3.0  REQUEI REKEMINAS CHEDDAR 12X1,2KG BISN
4          2231       73  60.0  REQUEI REKEMINAS CHEDDAR 12X1,2KG BISN
...         ...      ...   ...                                     ...
1057362    1168       61  24.0                MILHO VERDE JUSSARA 200G
1057363     674       61  24.0                MILHO VERDE JUSSARA 200G
1057364    1048       61   0.0                MILHO VERDE JUSSARA 200G
1057365    1171       61  24.0                MILHO VERDE JUSSARA 200G
1057366      40       61  24.0                MILHO VERDE JUSSARA 200G

[1057367 rows x 4 columns]

In [106]:
matrix_df = main.pivot_table(index=['CODCLI'], columns=['DESCRICAO'], values=['QT'], aggfunc=np.sum).fillna(0)
recomend_df = matrix_df
recomend_df = recomend_df.reset_index(drop=True)

In [94]:
recomend_df

            QT                                                             \
CODPROD 5      6       7      9      10      11      12     13     14
0          0.0    0.0  1105.0    0.0    3.0    0.00     0.0    0.0    0.0
1          0.0    0.0     0.0    0.0    0.0    0.00     0.0    0.0    0.0
2        733.1   20.0  8335.0   90.0   52.0  237.25  3506.0  580.0  336.0
3          0.0    0.0     0.0    0.0    0.0    0.00     0.0    0.0    0.0
4          0.0    0.0    60.0    0.0    0.0    0.00     0.0    0.0    0.0
...        ...    ...     ...    ...    ...     ...     ...    ...    ...
3115       0.0    0.0     0.0    0.0    0.0    0.00     0.0    0.0    0.0
3116       0.0    0.0     0.0    0.0    0.0    0.00     0.0    0.0    0.0
3117       0.0    0.0     0.0    0.0    0.0    0.00     0.0    0.0    0.0
3118       0.0    0.0     0.0    0.0    0.0    0.00     0.0    0.0    0.0
3119       0.0    0.0     0.0    0.0    0.0    0.00     0.0    0.0    0.0

                ...                                                          \
CODPROD 15      ... 126132 126133 126134 126135 126136 126137 126138 126139
0          0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
1          0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2        252.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3          0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4          0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
...        ...  ...    ...    ...    ...    ...    ...    ...    ...    ...
3115       0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3116       0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3117       0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3118       0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3119       0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0


CODPROD 126140 126141
0          0.0    0.0
1          0.0    0.0
2          0.0    0.0
3          0.0    0.0
4          0.0    0.0
...        ...    ...
3115       0.0    0.0
3116       0.0    0.0
3117       0.0    0.0
3118       0.0    0.0
3119       0.0    0.0

[3120 rows x 1562 columns]

In [107]:
from sklearn.neighbors import NearestNeighbors


knn_model = NearestNeighbors(metric='cosine')
knn_model.fit(recomend_df)

NearestNeighbors(metric='cosine')

In [96]:
recomend_df.index[0]

0

In [55]:
idx_user = 3100

    CODPROD
QT  5          0.0
    6          0.0
    7          0.0
    9          0.0
    10         0.0
              ...
    126137     0.0
    126138     0.0
    126139     0.0
    126140     0.0
    126141     0.0
Name: 3100, Length: 1562, dtype: float64

In [129]:
idx_user = 2
distance, neighbors_index = knn_model.kneighbors(recomend_df.iloc[idx_user].values.reshape(1, -1), n_neighbors=5)

In [130]:
distance.flatten()

array([2.22044605e-16, 2.15655527e-01, 2.60033890e-01, 2.65004137e-01,
       2.83955140e-01])

In [131]:
neighbors_index.flatten()

array([   2,  249, 1423,  526, 1303], dtype=int64)

In [135]:
user = recomend_df.index[idx_user]

for i in range(0, len(distance.flatten())):
    if i == 0:
        print(f'Recommendations for user: {user}')
    else:
        print(f'Neighbor: {str(recomend_df.index[neighbors_index.flatten()[i]])} with distance: {str(distance.flatten()[i])}')

Recommendations for user: 2
Neighbor: 249 with distance: 0.21565552744155547
Neighbor: 1423 with distance: 0.2600338895720997
Neighbor: 526 with distance: 0.2650041365910114
Neighbor: 1303 with distance: 0.28395513995962174

In [136]:
ds_user = recomend_df.loc[user].to_frame()
neighbors_index_nearest = recomend_df.index[neighbors_index.flatten()[1]]
#ds_user
ds_neighbor = recomend_df.loc[neighbors_index_nearest].to_frame()

In [139]:
result = pd.merge(ds_user, ds_neighbor, on='DESCRICAO').sort_values(by=neighbors_index_nearest)
result

                                               2       249
DESCRICAO
 BALDE 15KG VAZIO                          0.000     0.000
MOLHO INGLES CREMMY 24X150ML              48.000     0.000
MOLHO INGLES CREMMY 12X900ML               0.000     0.000
MOLHO INGLES CEPERA 12X1010ML              0.000     0.000
MOLHO INGLES  CEPERA 24X150ML              0.000     0.000
...                                          ...       ...
MOLHO PIZZA BONARE SC 6X2KG             7681.000   802.000
QUEIJO MUSSARELA CRISTAL               65333.192  1267.620
FILE DE PEITO FRANGO RICCO CX20KG     133712.300  2500.000
QUEIJO COALHO NUTRILAC QUADRADO        96251.308  3468.950
LANCHE GOSTOSINHA BOV REGINA CX 20KG  117004.999  4232.499

[1552 rows x 2 columns]

In [140]:
result = result[(result[user] > 0) & (result[neighbors_index_nearest] == 0)]
result

                                           2  249
DESCRICAO
MOLHO INGLES CREMMY 24X150ML            48.0  0.0
MOLHO DE TOM PIZZA BONARE  SC 340G    3848.0  0.0
MOLHO DE PIMENTA EKMA 12X1,01 L         12.0  0.0
MOLHO DE PIM LEAL SABOR 12X150ML        36.0  0.0
MOLHO DE PIM KENKO 24X150ML             61.0  0.0
...                                      ...  ...
CX P/ HAMBURGUER AMARELO H2 PCT 40UN     5.0  0.0
COXA E SOBCOXA CX 20KG                  20.0  0.0
COXA S/COXA INDIVIDUAL 20 KG           220.0  0.0
COXA/SOBRECOXA CONG BONASA CX 20 KG     20.0  0.0
CX P/ HAMBURGUER PRETO H2 PCT 40UN      33.0  0.0

[689 rows x 2 columns]